<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.megaphone">

    <!-- 인터넷 권한 추가 위치 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="megaphone"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ✅ Kakao 로그인용 Custom Tabs Activity -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="$kakaodb3de70da13ec0adc7d5d299511a45dc"
                    android:host="oauth" />
            </intent-filter>
        </activity>

        <!-- ✅ Supabase OAuth 리디렉션 처리용 -->
        <activity
            android:name="com.supabase.flutter.ui.DeepLinkingActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="io.supabase.flutter"
                    android:host="login-callback" />
            </intent-filter>
        </activity>

        <!-- Flutter Plugin 설정 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Flutter Text Plugin 용: PROCESS_TEXT 권한 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
